@import '~antd/es/style/themes/default.less';

/*
    Overwrite Antd default styling by reassigning the Less variables:
    https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
*/
@font-family: 'Playfair Display', serif;

/*
    Theme UI Polaris Preset
    https://theme-ui.com/demo
*/
// Colors
@text-color: #454f5b;
@background-color: #fff;
@primary-color: #5c6ac4;
@secondary-color: #006fbb;
@highlight-color: #47c1bf;
@muted-color: #e6e6e6;
@gray-color: #dfe3e8;
@accent-color: #f49342;
@darken-color: #00044c;
// Dark mode
@text-color-dark: #3e4155;
@background-color-dark: #000639;
@primary-color-dark: #9c6ade;
@secondary-color-dark: #b4e1fa;
@highlight-color-dark: #b7ecec;
@muted-color-dark: #e6e6e6;

/*
    Typography.js Kirkham Theme
    https://github.com/KyleAMathews/typography.js/blob/master/packages/typography-theme-kirkham/src/index.js
*/
@space-0: 0px;
@space-1: 4.75px;
@space-2: 9.5px;
@space-3: 19px;
@space-4: 38px;
@space-5: 76px;
@space-6: 152px;

@font-size-0: 14.306749304499707px;
@font-size-1: 15.444889770937406px;
@font-size-2: 18px;
@font-size-3: 24.448256259604236px;
@font-size-4: 28.49282961545972px;
@font-size-5: 38.699999999999996px;

@max-width-container-px: 740px;
@max-width-container-vw: 90vw;
@post-image-max-width: 1040px;

.maxWidthContainer {
  width: @max-width-container-px;
  max-width: @max-width-container-vw;
  margin-left: auto;
  margin-right: auto;
}

.standardSpacing {
  padding: @space-0;
  margin: @space-0;
  margin-bottom: @space-3;
}

.heading {
  .standardSpacing;
  line-height: 1.1;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  color: @text-color;
}

.body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: @font-size-2;
  line-height: 1.44;
  color: @text-color;
  background-color: @background-color;
}

.caption {
  font-size: @font-size-1;
  color: fade(@text-color, 65%);
}

.img {
  .standardSpacing;
  max-width: 100%;
}

.list {
  .standardSpacing;
  list-style-position: outside;
  list-style-image: none;
  margin-left: @space-3;
}

.listItem {
  margin-bottom: @space-2;
  padding-left: @space-0;

  // li: { mb: 2, pl: 0, ol: [Object], ul: [Object], p: [Object] },
}

.p {
  .standardSpacing;
}

.table {
  .standardSpacing;
  border-collapse: collapse;
  border-spacing: @space-0;
  width: 100%;
}

.tableCell {
  text-align: left;
  border-bottom: 1px solid;
  padding: @space-2 @space-1;
}

.th {
  .tableCell;
  // th: {
  //   textAlign: 'left',
  //   borderBottom: '1px solid',
  //   px: 2,
  //   py: 1,
  //   ':first-child': [Object],
  //   ':last-child': [Object],
  // },
}

.td {
  .tableCell;
  margin-top: -1px;
  // td: {
  //   textAlign: 'left',
  //   borderBottom: '1px solid',
  //   px: 2,
  //   py: 1,
  //   mt: '-1px',
  //   ':first-child': [Object],
  //   ':last-child': [Object],
  // },
}

.monospace {
  font-size: 85%;
  font-family: Menlo, monospace;
}

.pre {
  .standardSpacing;
  padding: @space-3;
  .monospace;
  overflow-x: auto;
}

.code {
  .monospace;
  color: inherit;
}

.boldFont {
  font-weight: bold;
}
