@import '~styles/variables.less';

.popover {
  background-color: @background-color-dark;
  color: @primary-color-dark;
  border-radius: 5px;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
  transition: left 75ms ease-out, top 75ms ease-out;
  animation: popUpwards 200ms forwards;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
}

.actionsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .copyButtonContainer {
    padding: 0 10px;
    border-left: 2px solid fade(@primary-color-dark, 50%);
  }
}

.shareLabel {
  margin-right: 10px;
}

.shareLinks {
  flex: 1;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.shareButtonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid @background-color-dark;
  transition: border-color 200ms;
}

@keyframes popUpwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0;
  }
  20% {
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7;
  }
  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1;
  }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}
