@import '~styles/variables.less';

.shareButton {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  .popoverButton {
    &:global(.anticon) {
      font-size: 20px;
    }

    color: @primary-color-dark;
  }

  &:hover .popoverButton,
  &:focus .popoverButton {
    color: lighten(@primary-color-dark, 5%);
  }
  &:active .popoverButton {
    color: darken(@primary-color-dark, 5%);
  }

  .defaultButton {
    // TODO
  }
}
